<launch>


  <node pkg="modulair_app_pic_flyer" name="pic_flyer_app" type="pic_flyer_app" output="screen"/>

  <param name="/modulair/apps/pic_flyer_app/paths/assets" value="$(find modulair_app_pic_flyer)/assets"/>
  <param name="/modulair/apps/pic_flyer_app/paths/image_collections" value="$(find modulair_app_pic_flyer)/assets/image_collections"/>
  <param name="/modulair/apps/pic_flyer_app/image_collections" value="test"/>
</launch>
